<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answers</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="question in questions">
      <td>{{question.title}}</td>
      <td>(placeholder)</td>
      <td>
        <a href="#/question/{{question._id}}">Show</a>
        <a href="#/answer/{{question._id}}">Answer</a>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <h3>Add a new Question</h3>
  <form>
    Question: <input ng-model='questionInput' type="text"> <br>
    Description: <input ng-model='descriptionInput' type="textfield"><br>
    <button ng-click="createQuestion(questionInput, descriptionInput)">Enter</button>
  </form>
</div>
